body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  background: linear-gradient(116.82deg, #E0EEFB 0%, #DDE6F9 100%);
  color: #444;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}


.logo {
  width: clamp(144px, 10vw, 576px);
  height: clamp(29.59px, 2.05vw, 118.35px);
  top: 40px;
  left: 50vw;
  transform: translateX(-50%);
  gap: 0px;
  opacity: 0.9;
  position: fixed;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/logo/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.logo:hover {
  opacity: 1;
}

.bot-avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/users/dolores.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  /* background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/users/user.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}


.chat-container {
  position: absolute;
  top: 10vh;
  transform: translateX(-50%);
  left: 50%;
  min-width: 400px;
  width: 50vw;
  bottom: 10vh;
  max-height: 80vh;
}



.chat-container.active {
  display: flex;
}

.chat-container:not(.active) {
  display: none;
}

.chat-messages::-webkit-scrollbar {
  width: 0px;
}

.chat-messages {
  z-index: -1;
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-wrap: break-word;
  
}

.user-message,
.bot-message {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.user-message {
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: flex-end;
}


.bot-message {
  justify-content: flex-start;
}


.user-profile,
.bot-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #5080DE0D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.message-bubble {
  width: auto;
  max-width: 35vw;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  margin: 5px 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: thick;
  font-size: 15px;
}




.user-message .message-bubble {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0;
  background-color: #5080DE;
  color: #fff;
}

.bot-message .message-bubble {
  border-bottom-left-radius: 0;
}

@keyframes generating {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.bot-avatar.loading {
  animation-name: generating;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes textGen {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }


}

.message-bubble.loading .ellipsis-gif {
  height: 19.6px;
  width: 117.6px;
  opacity: 0.5;
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/gifs/chat/loading.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.side-container {
  z-index: 1;
  position: fixed;
  top: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menu-container {
  position: fixed;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.chat-bar-container {
  font-family: 'Nunito', sans-serif;
  z-index: 2;
  bottom: 30px;
  width: 50vw;
  transform: translateX(-50%);
  left: 50%;
  position: fixed;
  display: inline-flex;
  align-items: center;
  background-color: #FFFFFF;
  width: 50vw;
  justify-content: center;
  border-radius: 35px;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-bar-container:not(.active) {
  transition: all 0.2s ease-in-out;
  display: none;
}

.chat-bar-container.active {
  transition: all 0.2s ease-in-out;
}

.chat-bar-container input[id="user-input"] {
  flex: 1;
  font-family: 'Nunito', sans-serif;
  padding: 15px;
  border: none;
  border-radius: 70px;
  background-color: #5080DE0D;
  outline: none;
}

.chat-buttons {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
}

.chat-buttons.active {
  opacity: 1;
}

.chat-buttons:hover {
  opacity: 0.95;
  background-color: #5080DE0D;
}

.chat-icons {
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.chat-icons.add {
  background-image: url("https://doloreschatbucket.s3.us-east-2.ama/zonaws.com/icons/chat/add.svg");
}

.chat-icons.mic {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/chat/mic.svg");
}

.chat-icons.send {
  background-image: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/chat/send.svg");
}

.button {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  opacity: 0.5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button.active {
  opacity: 1;
}

.button:hover {
  opacity: 0.95;
}

.button-icon {
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-icon.chat {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/chat.svg');
}

.button-icon.form {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/form.svg');
}

.button-icon.user {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/user.svg');
}

.button-icon.menu {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/menu.svg');
}

.button-icon.download {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/download.svg');
}

.button-icon.share {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/share.svg');
}

.button-icon.info {
  background-image: url('https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/side_menu/info.svg');
}

::-webkit-scrollbar {
  width: 0;
}

.form-container {
  position: absolute;
  top: 10vh;
  align-items: center;
  width: 50%;
  margin: 10vh auto 0px;
  left: 25%;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  border-radius: 10px 10px 10px 10px;
}

.form-container:not(.active) {
  transition: all 0.2s ease-in-out;
  display: none;
}

.form-container.active {
  transition: all 0.2s ease-in-out;
}

#header {
  height: auto;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
}

#header h1 {
  margin: 0;
  font-size: clamp(18px, 3vw, 24px);
}

.sub-heading {
  margin-top: 5px;
  font-size: clamp(14px, 2vw, 16px);
  color: #666;
}

#progressBar {
  height: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

#progress {
  background-color: #5080DE;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
}

.section {
  margin-top: 30px;
}

.subsection {
  margin-bottom: 20px;
}

label {
  display: block;
  padding: 10px 0px 10px;
  font-size: clamp(14px, 2vw, 16px);
}


input[type="text"],
input[type="tel"] {
  width: calc(100% - 16px);
  padding: 8px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  outline: none;
  box-sizing: border-box;
}

label[for="male"],
label[for="female"] {
  margin-right: 25px;
  margin-left: 5px;
}

.radio-group {
  display: flex;
  align-items: center;

  padding: 10px 0px 10px;
  gap: 10px 5px;
}

.radio-group input[type="radio"] {
  align-items: center;
}

p [id="diffAdd"] {
  margin-top: 5px;
}

.toggle-switch {
  display: inline-block;
  margin-top: 10px;
}

.toggle-switch-checkbox {
  opacity: 0;
  position: absolute;
}

.toggle-switch-label {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 22px;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0px;
}

.toggle-switch-label .toggle-switch-inner {
  display: block;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  bottom: 2px;
  transition: transform 0.3s ease;
}

.toggle-switch-checkbox:checked+.toggle-switch-label {
  background-color: #5080DE;
}

.toggle-switch-checkbox:checked+.toggle-switch-label .toggle-switch-inner {
  transform: translateX(14px);
}

.hidden {
  display: none;
}

.download-button-container {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.download-button-container button {
  background-color: #FFFFFF;
  border: 2px solid #5080DE;
  color: #5080DE;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 16px);
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button-container button:hover {
  background-color: #5080DE;
  color: #FFFFFF;
}

.userPage {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  min-width: 400px; /* Minimum width to prevent shrinking too much */
  /*min-height: 300px;  Minimum height to prevent shrinking too much */
  max-width: calc(100vw - 40px); /* Maximum width with 20px padding */
  max-height: calc(100vh - 40px); /* Maximum height with 20px padding */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  border-radius: 24px;
}


.user-info {
  margin: 20px
}

.user-info,
.title {
  display: flex;
  align-items: center;
}

.title {
  gap: 5px;
}

.data-text {
  margin-bottom: 5px;
  margin-top: 5px;

}

.data-text.value {
  display: flex;
  background-color: #afb1b44d;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
  color: rgba(44, 41, 41, 0.582)
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.sign-out {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(241, 93, 93);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}


.signout-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}


.signout-modal-content {
  /* backdrop-filter: blur(1px); */
  isolation: isolate;
  background-color: white;
  position: fixed;
  /* margin: 15% auto; */
  padding: 20px;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  border-radius: 20px;
  width: fit-content;
  z-index: 2;

}

.confirm-signout,
.cancel-signout {
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.confirm-signout {
  background-color: #5080DE;
  color: white;
}

.cancel-signout {
  margin-left: 10px;
}



.login-window {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  min-width: 400px; /* Minimum width to prevent shrinking too much */
  min-height: auto; /* Minimum height to prevent shrinking too much */
  max-width: calc(100vw - 40px); /* Maximum width with 20px padding */
  max-height: calc(100vh - 40px); /* Maximum height with 20px padding */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.login-window .greeting {
  text-align: center;
  padding-top: 25px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
  font-size: 30px;
}

.sub-heading_user {
  color: #0F18284D;
  text-align: center;
  padding-top: 5px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 5px;
  margin: 0px;
}

.divider {
  width: 90%;
  border-color: #0F18284D;
  border-style: groove
}

.customGPlusSignIn {
  display: inline-flex;
  bottom: 24px;
}

p[class="footerClass"] {
  position: fixed;
  font-size: 12px;
  justify-content: center;
  vertical-align: center;
  text-align: center;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  /* overflow: hidden; */
  margin-left: 5px;
  margin-right: 5px;
}

.disclaimer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.disclaimerHead {
  font-size: x-large;
  padding-bottom: 10px;
}


.window {
  position: relative;
  background: #ffff;
  text-align: center;
  width: 400px;
  max-width: calc(100vw - 40px);
  padding: 25px;
  border-radius: 10px;
}

.closeDisclaimer {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 0;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.footerClass {
  color: #444;
  z-index: -1;
}

a[class=footerClass]:hover {
  cursor: pointer;
}

#customBtn {
  position: relative;
  display: inline-block;
  background: #ffff;
  color: #444;
  width: auto;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

#customBtn:hover {
  background-color: #5080DE0D;
  cursor: pointer;
}

span.icon {
  background: url("https://doloreschatbucket.s3.us-east-2.amazonaws.com/icons/logo/g-normal.png") transparent no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 10px;
  border-radius: 50px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-right: 24px;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 750px){
  .message-bubble {
    max-width: min(85vw, 250px);
  }
  .chat-bar-container {
    min-width: calc(max(85vw, 350px));
  }
  p[class="footerClass"] {
    font-size: 10px;
  }
}
